/* ========================================== */
/* ⚖️ ESTILOS PÁGINAS LEGALES                 */
/* ========================================== */
.legal-section {
    padding: 80px 20px;
    color: #fff;
    line-height: 1.6;
    background-color: black;
  }
  
  .legal-section h1 {
    color: #BF953F;
    margin-bottom: 30px;
  }
  
  .legal-section h2 {
    color: #BF953F;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  .legal-section a {
    color: #BF953F;
    text-decoration: underline;
  }